@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab+Highlight&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quintessential&family=Zilla+Slab+Highlight&display=swap');


body {
  background-size: cover;
  background-attachment: fixed;
  background:linear-gradient(0deg, rgba(68, 68, 68, 0.56), rgba(68, 68, 68, 0.56)), url('https://wallpapercave.com/wp/wp6273133.jpg');
}

#logo_my{
  margin: 0;
  padding: 0;
  height: auto;
  width: 150px;
}

.container{
  color: whitesmoke;
}

.nice_background{
  margin: 30px 10%;
  padding: 1em;
  height: 5%;
  margin: 20px;
}

.main_stuff{
  margin-bottom: 0px
}

.main_content{
  padding: 10px;
  color: whitesmoke;
}

#title {
  margin: 40px 0 25px 0 ;
  font-size: 40px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  color: whitesmoke;
  text-decoration: none;
  text-align: center;
}

.content {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 17px;
  color: whitesmoke;
  text-decoration: none;
  text-align: center;
  margin: 15px;
}

.content2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 17px;
  color: whitesmoke;
  text-decoration: none;
  text-align: center;
  margin: 15px;
}

.head_item{
  font-family: 'Quintessential', cursive;
  font-size: 30px;
}

.myitem{
  background-color: #818181bd;
  padding: 1em;
  height: 5%;
  margin: 20px;
  font-family: 'Quintessential', cursive;
  font-size: 20px;
  rotate: -5deg;
  border-radius: 5px;
}

.content a {
  color: #0f00df;
  text-decoration: underline;
}

.page_main{  
  background-color: #4041466c;
  border-radius: 50px;
  margin: 20px;  
  padding: 10px;
}

.page_sign{
  margin: 60px;
  padding: 40px;
  background-color: #9193a0be;
  border-radius: 50px;  
}

.page_login{
  margin: 60px;
  margin-bottom: 100px;
  padding: 40px;
  background-color: #9193a0be;
  border-radius: 50px;  
}

.btn-dark{
  margin: auto 15px;
}

.btn-dark a{
  color: white;
}

.article{
  border-radius: 35px;
  background-color: #95979ebd;
  padding: 5px;
  margin: 10px;
}

.article2{
  border-radius: 35px;
  background-color: #7fd5e4bd;
  margin: 10px;
  padding: 5px;
}

.article3{
  border-radius: 35px;
  background-color: #44643abd;
  margin: 10px;
  padding: 5px;
}

.article4{
  border-radius: 35px;
  background-color: #6451b9bd;
  margin: 10px;
  padding: 5px;
}

.me{
  display: flex;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 17px;
  color: whitesmoke;
  text-decoration: none;
  justify-content: center; 
  overflow:visible; 
}

.me img{
  border-radius: 50%;
}

.myself{
    height: auto;
    width: 50%;
    float: right;
    position: relative;
    left: 210px;
    rotate: 10deg;
  }

.ich{
  text-align: center;
  font-family: 'Zilla Slab Highlight', cursive;
  font-size: 80px;
  margin: 30px;
}

.link_icon{
  text-align: center;
}

.link_icon a img{
  width: 40px;
}

footer {
  background-color: rgb(189, 189, 189);
  position: static fixed;
  margin-top: 0;
  padding-top: 0;
  bottom: 0;
  width: 100%;
}

.social_icon{
  width: 15px;
}