{% extends "base.html" %} {% block title %}Credit{% endblock %}

{% block styles %}
<link rel="stylesheet"
      href="{{url_for('.static', filename='css/style.css')}}">
{% endblock %}

{% block content %}

<div class="ich"><strong>Credits:</strong></div>

<div class="content">
    <ul class="list-unstyled">
        <li>
            <h3>footer idee von: <a href="https://mdbootstrap.com/docs/b4/jquery/navigation/footer/">mdbootstrap</a></h3>
        </li>
        <br>
        <li>
            <h3>Login und Webseitengrundgerüst: <a href=" https://www.youtube.com/watch?v=dam0GPOAvVI&t=7136s"> Tech With Tim</a></h3>
        </li>
        <br>
        <li>
            <h3>HTML und CSS Hilfe: <a href="https://www.w3schools.com">w3schools</a></h3>
        </li>
        <br>
        <li>
            <h3>Hilfe gegen meine Dummheit: <a href="https://stackoverflow.com/">stackoverflow</a></h3>
        </li>
        <br>
        <li>
            <h3>Dein bester Freund: <a href="https://google.com">Google</a></h3>
        </li>
    </ul>
</div>

{% endblock %}