{% extends "base.html" %} {% block title %}Impressum{% endblock %}

{% block styles %}
<link rel="stylesheet"
      href="{{url_for('.static', filename='css/style.css')}}">
{% endblock %}

{% block content %}

<div id="title"><strong>Impressum</strong></div>

<div class="content">
      <h2>Angaben gem&auml;&szlig; &sect; 5 TMG</h2>
      <p>Florian Mros<br />
      Am Haik, 8<br />
      02627 Drehsa</p>
      <h2>Kontakt</h2>
      <p>Telefon: 01734729555<br />
      E-Mail: mros.florian@gmail.com</p>
      <p>Quelle: <a href="https://www.e-recht24.de">e-recht24.de</a></p>
      </div>

{% endblock %}