{% extends "base.html" %} {% block title %}Projects{% endblock %}

{% block styles %}
<link rel="stylesheet"
      href="{{url_for('.static', filename='css/style.css')}}">
{% endblock %}

{% block content %}

<div class="ich"><strong>Projects</strong></div>

<div class="content">
    <div class="article">
        <h1>Linux install</h1>
        <p>
            Zurzeit arbeite ich an der Automatisierung meiner Linux installation, sodass ich das Script bei jeder Arch und Ubuntu/Debian basierenden Distro nutzen kann und es sie mir so einrichtet, dass alle notwendigen Programme und Config automatisch einrichtet.
            <br>
            Bis ich es aber beende dauert es noch, da ich zur Zeit andere (wichtigere) Dinge zu tun habe.
            <br>
            Falls du dir es trotzdem anschauen möchtest schau <a href="https://github.com/floork/linux_install">hier</a> nach.
        </p>
    </div>
    <div class="article2">
        <h1>Facharbeit</h1>
        <p>
            Diese Seite ist meine Facharbeit und ich werde sie irgendwann in absehbarer Zeit veröffentlichen, aber noch nicht sofort!
        </p>
    </div>
</div>

{% endblock %}